<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
">

    <security:http auto-config="true">
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_USER')"/>
        <security:form-login login-page="/login" username-parameter="username" password-parameter="password" default-target-url="/admin"/>
        <security:csrf  />
    </security:http> 
    
    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="">
                
            </security:jdbc-user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>
